.gitsearch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-left: 40px;
}

.gitsearch-card {
  justify-content: flex-start;
  width: 1251px;
  height: 270px;
  background: #e6f7ff;
  border-radius: 16px;
  margin-top: 116px;
  padding: 31px;
}

.gitsearch-title {
  margin-top: 27px;
  letter-spacing: 0.02em;
}

.gitsearch-form-container {
  margin-top: 12px;
}

.search-input {
  width: 298px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 17px;
}

.btn-container {
  margin-top: 35px;
}

.btn-container .gitsearch-button {
  font-size: 16px;
  color: #fff;
}
